@media (max-width: 480px){
     *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    section h3{
        color:white;
        margin-top: 10px;
        font-size: 17px;

    }
     section h3 span{
        color:#00FF00;
        font-size: 16px;
     }
main{
    background-image: url(IMAGES/10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
    width:100%;
    height: 200px;

}
.enter h2{
    font-weight: bold;
    font-size: 15px;
}
.enter{
    margin-top: 20px;
    margin-left: 4px;

color: white;


}
.enter p{
    font-size: 7px;
}
section{
    display: flex;
    justify-content: space-evenly;
}
.list{
    margin-top: 10px;
    display: flex;
    gap: 20px;
}
section ul li{
    list-style-type: none;
}
section ul li a{
    display: none;
    text-decoration: none;
    color: white;
}
.btn1 a{
    text-decoration: none;
    color: white;
}
.btn1{
    margin: 10px;
    width: 50px;
    padding: 2px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 4px;
}
.enter .btn2{
    width: 60px;
    padding: 4px;
    background-color:green;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 9px;
}
/* jumlo */
.jumlo{
    text-align: center;
    background-color: green;
    width: 280px;
    border-radius: 4px;
    color: white;
    margin-top:60px;
    margin-left: 50px;
    height: 30px;
    margin-bottom: 50px;
}
.center{
    display: flex;
    
    gap: 3px;
    width: 100%;
   
}
.center img{
    
    width: 90px;
    height: 80px;
    border-radius: 10px;
    

}
.center .one{
    background-color: rgb(227, 227, 227);
    width: 90px;
    height: 140px;
    margin-left: 3px;
    padding-left: 0px;
    padding-top: 0px;
    border-radius: 10px;
    text-align: center;

}
.center .one .one1{
    display: inline-block;
    gap: 8px;
    margin-left: 5px;
    margin-top: 4px;
    color: green;
    font-size: 15px;
}
.center .one .one1 .btn3{
     width: 38px;
    background-color:green;
    color: white;
    border: none;
    border-radius: 4px;

  
}
.center .two{
    background-color: rgb(227, 227, 227);
    width: 90px;
    height: 140px;
    margin-left: 3px;
    padding-left: 0px;
    padding-top: 0px;
    border-radius: 10px;

}
.center .two .one1{
    display: inline-block;
    gap: 8px;
    margin-left: 5px;
    margin-top: 8px;
    color: green;
    font-size: 12px;
    text-align: center;
}
.center .two .one1 .btn3{
     width: 30px;
     height: 20px;
    background-color:green;
    color: white;
    border: none;
    border-radius: 4px;

  
}


/* part2 center */

.tafariq{
    text-align: center;
    background-color: green;
    width: 280px;
    border-radius: 4px;
    color: white;
    margin-top: 250px;
    margin-left:60px;
    height: 30px;
    margin-bottom: 50px;
}

.qudaar{
    display: flex;
    gap: 6px;
    width: 100%;
}
.qudaar img{
    
    width: 90px;
    height: 80px;
    border-radius: 10px;
    border: solid green 1px;
    

}
.qudaar .one{
    background-color: rgb(227, 227, 227);
    width: 90px;
    height: 150px;
    margin-left: 3px;
    padding-left: 0px;
    padding-top: 0px;
    border-radius: 10px;
    text-align: center;
    box-shadow: none;

}
.qudaar .one .one1{
    display: inline-block;
    gap: 8px;
    margin-left: 5px;
    margin-top: 4px;
    color: green;
    font-size: 15px;
}
.qudaar .one .one1 .btn3{
     width: 40px;
    background-color:green;
    color: white;
    border: none;
    border-radius: 4px;
}
.qudaar .one .pp{
    text-align: center;
  color: green;  
}
.qudaar .two{
    box-shadow: none;
    background-color: rgb(227, 227, 227);
    width: 90px;
    height: 150px;
    margin-left: 3px;
    padding-left: 0px;
    padding-top: 0px;
    border-radius: 10px;

}
.qudaar .two .one1{
      display: inline-block;
    gap: 8px;
    margin-left: 5px;
    margin-top: 8px;
    color: green;
    font-size: 12px;
    margin-left: 26px;
    }

    .qudaar .two .one1 .btn3{
     width: 40px;
    background-color:green;
    color: white;
    border: none;
    border-radius: 4px;
}
.qudaar .two .pp{
    text-align: center;
  color: green;  
}
.total-section{
    display: inline-block;
    background-color: green;
    width: 300px;
    height: 220px;
    text-align: center;
    margin-left: 46px;
    margin-top: 40px;
    padding: 18px;
    border-radius: 10px;
    

}
.total-section .wadar{
    background-color: rgb(225, 223, 223);
    border-radius: 10px;
    padding: 4px;
    font-weight: bold;
}
.total-section .total{
    background-color: rgb(225, 223, 223);
    border-radius: 10px;
    padding: 4px;
    font-weight: bold;
}
.total-section .delivery{
    background-color: rgb(225, 223, 223);
    border-radius: 10px;
    padding: 4px;
    font-weight: bold;
}
.total-section .order{
     background-color: blue;
    border-radius: 10px;
    padding: 8px;
    font-weight: bold;
    color: white;
    width: 200px;
    height: 40px;
    margin-left: 30px;

}
#orderSection{
    display: inline-block;
    margin-bottom: 30px;
    background-color: rgb(231, 228, 228);
    width: 100%;
    height: 200px;
    margin-top: 40px;
    border-radius: 10px;
}
#orderSection input{
    padding: 10px;
    border-radius: 10px;
    border: none;
}

/* footer css */
.footer {
    background-color: #0f5132;
    color: white;
    margin-top: 60px;
    padding-top: 40px;
}

.footer-container {
display: flex;
    gap: 10px;
    padding: 10px;
    text-align: center;
}

.footer-box {
    width: 250px;
    margin: 10px;
}

.footer-box h3,
.footer-box h4 {
    color: #00ff00;
    margin-bottom: 10px;
}

.footer-box p {
    font-size: 15px;
    line-height: 1.6;
}

.footer-box a {
    display: block;
    text-decoration: none;
    color: white;
    margin: 5px 0;
}

.footer-box a:hover {
    color: #00ff00;
}

.footer-bottom {
    text-align: center;
    background-color: #0b3d26;
    padding: 12px;
    font-size: 14px;
    margin-top: 20px;
}

}